*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("./Imágenes/fondoMaderaT.png");
    background-size: cover;
}

.contenedorDulces{
    margin: 1vh;
    height: 100vh;
    display: grid;
    gap: 2vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5,auto);
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "p p p p p p p p p p p p"
    "t1 t1 t1 t1 t1 t1 t1 i1 i1 i1 i1 a"
    "t2 t2 t2 t2 t2 t2 t2 i2 i2 i2 i2 a"
    "f f f f f f f f f f f f";
}

.contenedorSaladas{
    margin: 1vh;
    height: 100vh;
    display: grid;
    gap: 2vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5,auto);
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "p p p p p p p p p p p p"
    "t1 t1 t1 t1 t1 t1 t1 t1 i1 i1 i1 i1"
    "t2 t2 t2 t2 t2 t2 t2 t2 i2 i2 i2 i2"
    "f f f f f f f f f f f f";
}
.contenedorSuscribite{
    margin: 1vh;
    height: 100vh;
    display: grid;
    gap: 2vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4,auto);
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "p p p p p p p p p p p p"
    "t1 t1 t1 t1 t1 t1 t1 t1 t1 t1 t1 t1"
    "f f f f f f f f f f f f";
}

.header{
    grid-area: h;
    background-color:hotpink;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:sticky;
    top: 0;
    z-index: 1;
    padding: 3vh;

    animation-name: efectoRosa;
    animation-duration: 3s;
    animation-timing-function: ease;
}
.navLinks{
    display: flex; 
    width: 100%;
    height: 100%;
    align-items: center;
    list-style: none;
    margin: auto;
    justify-content: space-around;     
}
.navLink{
    color: grey;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    padding: 2vh 3vh;
    margin: 1vh;   
}
.navLink:hover{
    font-weight: bolder;
    color: hotpink;
    background-color: grey;
}
.presentacion{
    grid-area: p;
    text-align: center;
    padding-bottom: 5vh;
}
.presentacion h1{
    font-size: 50px;
    margin-bottom:5vh;
    margin-top:8vh;  
}
.salado h1, .salado h2{
    color:#000066;
}
.dulce h1, .dulce h2{
    color:#006064;
}
.suscribite h1{
    color: #676767;
}
.presentacion.suscribite p{
    color: hotpink;
}
.presentacion p{
    margin-left: 20vh;
    margin-right: 20vh;
    font-size: 22px;
    color:#3d4849;
    line-height: 30px;
}
.texto1{
    grid-area: t1;
    padding: 3vh;
}
.texto1 h2, .texto2 h2{
    font-size: 30px;
}
.texto1 p, .texto2 p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 25px;
    color:#676767;
    text-align: justify;
}
.imagen1{
    grid-area: i1;
    padding: 3vh;
    text-align: center;
    align-self: center;
}
.imagen2{
    grid-area: i2;
    text-align: center;
    padding: 3vh;
    align-self: center;
}
.imagen1 img, .imagen2 img{
    overflow: hidden;
    width: 350px;
    min-height: auto;
    border: 20px solid;   
    filter: opacity(50%);  
}
.dulce img{
    border-color: #006064;
}
.salado img{
    border-color: #000066;
}
.imagen1 img:hover, .imagen2 img:hover{
    filter: none;
}
.texto2{
    grid-area: t2;
    padding: 3vh;
}
.aside{
    grid-area: a;
    padding: 2vh;
    border: 4px outset hotpink;
    align-self: center;

    animation-name: efectoBordeRosa;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
}
.aside h3{
    font-size: 15px;
    padding-bottom: 2vh;
    text-align: center;

}

.aside p{
    color:#3d4849;
    font-size: 15px;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.footer{
    grid-area: f;
    text-align: center;
    padding-bottom: 1vh;
}
.footer p{
    font-size: 16px;
    font-style: italic;
}

@keyframes efectoRosa{
    0%{background-color: none}
    50%{background-color: pink}
    100%{background-color: hotpink}
}

@keyframes efectoBordeRosa{
    0%{border-color: none}
    50%{border-color: pink}
    100%{border-color: hotpink}
}


@keyframes barridoHorizontal{
    from{
        color:lightgray;
    }
    to{
        color:white;
    }
}


.seccionFormulario{
    display: flex;
    width: 100%;
    margin: auto;
    padding-bottom: 10vh;
    align-items: center;
}

.formulario{
    
    border-radius: 5px;
    border-style: solid;
    border-width: thick;
    border-color: #999797;    
    background-image: url("./Imágenes/fondoMadera.jpg");
    padding: 20px;
    justify-content:space-around;
    align-items: center;
    margin: auto;
    font-weight: 450; /*Nuevo 9-6-21*/
}

.formulario:hover{ /*Nuevo 9-6-21*/
    border-color:#676767;
}

input[type=text], [type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario p{
    font-size: 18px;
    line-height: 50px;
    color: black;
}

input[type=submit], [type="reset"]{
    width: 30%;
    background-color: #676767;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*Nuevo 9-6-21*/
  }

  input[type=text]:focus, [type="email"]:focus { /*Nuevo 9-6-21*/
    background-color: #fee2ef;
  }

  input[type=submit]:hover, [type="reset"]:hover {
    background-color: hotpink;
    font-weight: bolder; /*Nuevo 9-6-21*/
  }



@media screen and (max-width:800px) {
    .contenedor{
        
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8,auto);
        padding: 1vh;

        grid-template-areas: 
        "h"
        "p"
        "t1"
        "i1"
        "t2"
        "i2"
        "a"
        "f";
    }
    .header{
        padding: 2vh;
    }
    .navLinks{
        flex-direction: column;
        margin: 1vh;
    }
    .navLink{
        font-size: 18px;
        font-weight: bolder;
        text-decoration: none;
        padding: 0.5vh 2vh;
        margin: 0.5vh;
    }
    .presentacion{
        padding-bottom: 3vh;
    }    
    .presentacion h1{
        font-size: 35px;
        margin-bottom:3vh;
        margin-top:5vh;  
    }    
    .presentacion p{
        margin-left: 5vh;
        margin-right: 5vh;
        font-size: 19px;
        line-height: 25px;
    }    
    .texto1, .texto2{
        padding: 2vh;
    }    
    .texto1 h2, .texto2 h2{
        font-size: 25px;
    }    
    .texto1 p, .texto2 p{
        margin-top: 5px;
        font-size: 16px;
        line-height: 25px;
    }    
    .imagen1, .imagen2{
        padding: 2vh;
    }    
    .imagen1 img{
        width: 250px;
        min-height: auto;
    } 
    .imagen2 img{
        width: 200px;
        min-height: auto;
    }
    .aside{
        font-size: 14px;
        grid-area: a;
        padding: 1vh;
        border: 1px double hotpink;
        animation: none;
    }
    .footer{
        padding-bottom: 1vh;
    }    
    .footer p{
        font-size: 12px;
    }
}

    @media screen and (max-width:360px) {
        .contenedor{
        
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(8,auto);
            padding: 1vh;
    
            grid-template-areas: 
            "h"
            "p"
            "t1"
            "i1"
            "t2"
            "i2"
            "a"
            "f";
            
        }
        .header{
            padding: 2vh;
        }
        .navLinks{
            flex-direction: column;
            margin: 1vh;
        }
        .navLink{
            font-size: 18px;
            font-weight: bolder;
            text-decoration: none;
            padding: 0.5vh 2vh;
            margin: 0.5vh;
        }
        .presentacion{
            padding-bottom: 3vh;
        }    
        .presentacion h1{
            font-size: 25px;
            margin-bottom:2vh;
            margin-top:3vh;  
        }    
        .presentacion p{
            margin-left: 1vh;
            margin-right: 1vh;
            font-size: 14px;
            line-height: 18px;
        }    
        .texto1, .texto2{
            padding: 1vh;
        }    
        .texto1 h2, .texto2 h2{
            font-size: 18px;
        }        
        .texto1 p, .texto2 p{
            margin-top: 3px;
            font-size: 12px;
            line-height: 18px;
        }    
        .imagen1, .imagen2{
            padding: 1vh;
        }    
        .imagen1 img, .imagen2 img{
            width: 150px;
            min-height: auto;
        }
        .aside{
            font-size: 11px;
            grid-area: a;
            padding: 1vh;
            border: 1px double hotpink;
            animation: none;
        } 
        .footer{
            padding-bottom: 1vh;
        }    
        .footer p{
            font-size: 10px;
        }
    }



